

.top-header-v-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.top-header-left,
.top-sidenav-cur-phone {
  .currency {
    width: 26px;
    height: 18px;

    img {
      vertical-align: baseline;
    }
  }
}

.main-menu .mobile-top-sidenav{
  .brand-logo {
    padding: 0;
  }

  .phone-and-cart-row {
    margin-top: 35px;
  }

  .header-contact {
    margin-left: 15px;
  }

  .onhover-div {
    padding: 0;

    .cart_qty_cls {
      display: none;
    }
  }
}


.top-header-center {
  .brand-logo {
    margin: 0 auto;
  }
}

.top-header-right {
  justify-content: end;
}

.top-header-shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  img.img-fluid {
    width: 24px;
    height: 24px;
  }

  .shopping-cart-text {
    margin-top: 8px;
    font-size: 12px;
    color: #414141;
  }
}

.header-menu-section {
  padding: 0;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  height: 90px;

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #mainnav {
    height: 90px;
  }
}
