/*=====================
    29.Responsive CSS start
==========================*/
@media(min-width: 1430px) {
}

@media(min-width: 1199px) {
  .nav-menu .back-btn {
    display: none !important;
  }
  header .top-header .main-navbar {
    display: none;
  }
  #mainnav .shopping-cart-container {
    display: none;
  }
  #mainnav .mobile-top-sidenav {
    display: none;
  }
}

@media (max-width: 1430px) {

}

@media (max-width: 1367px) {

}

@media (max-width: 1199px) {
  .header-menu-section {
    display: none;
  }

  .menu-right.pull-right > .shopping-cart-container {
    display: none;
  }

  .top-header-right {
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .top-header-left-column {
    display: none;
  }
  .top-header {
    height: 100px;

    > .container,
    > .container > .row {
      height: 100%;
    }
  }
}

@media (max-width: 767px) {

}

@media (max-width: 577px) {
  header .top-header .main-navbar {
    display: block;
  }

  .mobile-top-sidenav .brand-logo {
    position: relative;
    left: 0;
    transform: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

}

@media (max-width: 480px) {

}

@media (max-width: 420px) {

}

@media (max-width: 360px) {

}

@media (max-width: 320px) {
}
