/* Header and menus */

.top-header-v-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.top-header-left,
.top-sidenav-cur-phone {
  .currency {
    width: 26px;
    height: 18px;

    img {
      vertical-align: baseline;
    }
  }
}

.main-menu .mobile-top-sidenav{
  .brand-logo {
    padding: 0;
  }

  .phone-and-cart-row {
    margin-top: 35px;
  }

  .header-contact {
    margin-left: 15px;
  }

  .onhover-div {
    padding: 0;

    .cart_qty_cls {
      display: none;
    }
  }
}


.top-header-center {
  .brand-logo {
    margin: 0 auto;
  }
}

.top-header-right {
  justify-content: end;
}

.top-header-shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  img.img-fluid {
    width: 24px;
    height: 24px;
  }

  .shopping-cart-text {
    margin-top: 8px;
    font-size: 12px;
    color: #414141;
  }
}

.header-menu-section {
  padding: 0;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  height: 90px;

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #mainnav {
    height: 90px;
  }
}


/* Slider */

.home-slider {
  height: 600px;
}

.swiper-pagination-bullet.evacode-slide-pagination {
  width: 20px;
  height: 20px;
  border: 1px solid #FCF6E9;
  margin: 0 10px !important;
  opacity: 1;
  background: none;

  &.swiper-pagination-bullet-active {
    background: #FCF6E9;
  }
}

img.slide-main-image {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-container {
  margin: 125px 0 0 125px;
  width: 700px;
  height: calc(100% - 125px);

  .container & {
    margin: 0;
    width: auto;
    height: 100%;
    position: relative;
  }
}

.evacode-slide {
  overflow: hidden !important;
  position: relative;
  height: 100%;

  .row {
    height: 100%;
  }

  .container {
    .slider-headline {
      margin-top: 25px;
      font-size: 16px;
      font-weight: 600;
    }
    .slider-description {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 12px;
    }
    .evacode-btn.slider-btn {
      width: 100%;
      margin-top: 13px;
      position: absolute;
      bottom: 75px;
      height: 40px;
      line-height: 40px;
    }
  }
}

.slider-headline {
  font-size: 46px;
  font-weight: 400;
  background: -webkit-linear-gradient(80deg, #AD884C, #C9A872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 60px;
  margin-bottom: 0;
  .slide-6 > .row & {
    margin-top: 25px;
  }
}

.slider-heading-2 {
  font-size: 36px;
  color: white;
  margin-top: 45px;
  font-weight: 400;
}

.slider-description {
  font-size: 26px;
  font-weight: 300;
  background: -webkit-linear-gradient(80deg, #AD884C, #C9A872);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  line-height: 1.1;
  margin-top: 15px;

  .slide-4 > .row & {
    background: #6B4F6A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .slide-6 > .row & {
    font-size: 24px;
    margin-top: 5px;
  }
}

.slider-description-white {
  font-size: 26px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  line-height: 1.1;
  margin-top: 15px;
}

.evacode-btn {
  display: inline-block;
  color: #AE894D;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;

  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 6px;
  text-align: center;

  &.slider-btn {
    width: 360px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 120px;
  }
  &.buy-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid;
  }
}

.btn-bordered {
  border: 1px solid #AE894D;
}

.white {
  color: #fff !important;
}


/* Products on main*/

section.products-main-section {
  padding-top: 30px;
}

.product-box {
  height: 572px;

  & > div {
    padding: 20px;

    .img-wrapper {
      height: 340px;

      img {
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1 / 1;
        height: 100%;
      }
    }

    .product-detail {
      font-family: $font_0_1, $font_1;
      font-size: 14px;
      text-align: center;
      line-height: 1.3;
    }
  }
}
